{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Shopping List</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome/all.css' %}" rel="stylesheet">
</head>

<body style="max-width: 100%;overflow-x: hidden;">

    <div class="row align-items-center py-3 px-xl-5" id="parent-topbar">
        <nav class="navbar navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'img/Logo1.png'%}" alt="Logo" width="210px" height="70px">
                </a>
            </div>
        </nav>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="/" class="nav-item nav-link">Home</a>
                        <a href="/requestrecipe" class="nav-item nav-link">Request Recipe</a>
                        <a href="/cart" class="nav-item nav-link">Ingredients for Pantry</a>
                        <a href="/contact" class="nav-item nav-link">Contact</a>   
                </div>
            </nav>
        </div>
        </div>
    </div>
    
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid">
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span
                                class="text-primary font-weight-bold border px-3 mr-1">InstaChef</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px; background-image: url(img/sl_cover-1.jpg);  background-size: cover;">
            <h1 class="font-weight-semi-bold text-uppercase mb-3 text1">Shopping List</h1>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Quantity</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                    {% for j in list1%}
                        {%for i in j%}
                        <tr>
                            <td class="align-middle">{{i.ing_name}}</td>
                            <td class="align-middle"><input type = "text" value = ""></td>
                            <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></td>
                        </tr>
                        {%endfor%}
                    {%endfor%}
                    </tbody>
                </table>
            </div>
            
            <div class="col-lg-3 d-none d-lg-block ingr-panel" >
                    <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;" >
                        <h6 class="m-0">Ingredients</h6>
                    </a>
                    
                    <div class="card ingredients-cards">
                        <form method="post" action="/cart">
                            {% csrf_token %}
                            {%for i in ingr_type%}
                        <div class="card-body">
                            <h5 class="card-title">{{i}}</h5>
                            {% comment %} <p class="card-text">0/100 ingredients</p> {% endcomment %}
                            <hr>
                           
                            <div class="d-flex flex-wrap flex-section" id="ingr_id">
                                {%for j in ingr_name%}
                                    {%if j.ing_type == i %}
                                   
                                        <input type ="checkbox" class = "ingredient" name="ingr_det" value= {{j}}>
                                        <label for="{{j}}">{{j}}</label>
                                    
                                    {%endif%}
                                {%endfor%}
                                {% comment %} <div class="ingredient" id="ingredients-vegetables">+94 More</div> {% endcomment %}
                            </div>
                            
                        </div>
                        {%endfor%}
                        <input type="submit" id="button123" value="Add to cart" >
                    </form>
                    </div>
            </div>
        </div>
    
    <!-- Cart End -->


     <!-- Footer Start -->
     <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'img/Logo1.png'%}" alt="Logo" width="210px" height="70px">
                </a>
                 <br><br>
                <p>A personalized Cooking Website which not only helps <br>you in cooking but also allows you to post recipes.</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>1st Main S.G Palya, Benagluru</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>InstaChef@gmail.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            
                            <a class="text-dark mb-2" href="/cart"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <!-- <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Checkout</a> -->
                            <a class="text-dark" href="/contact"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                   
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Contact Us</h5>
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                                    required="required" />
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

   
</body>

</html>